body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  position: fixed;
  padding: 0 50px;
  width: 100%;
  overflow: hidden;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  top: 0;
}
.header .logo {
  display: flex;
  height: 80px;
  align-items: center;
}
.header .logo--img {
  height: 36px;
}
.header .gnb {
  position: relative;
  height: 100%;
  width: auto;
}
.header .gnb__list {
  display: flex;
}
.header .gnb__list > li > a {
  font-size: 19px;
  font-weight: 500;
  padding: 0 40px;
  height: 80px;
  display: flex;
  align-items: center;
}
.header .gnb__list--sub {
  padding-top: 25px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.header .gnb__list--sub li {
  padding: 5px 0;
}
.header .language {
  display: flex;
  height: 80px;
  align-items: center;
}
.header.on {
  height: 380px;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
}