@import "mixins";
@import "vars";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

.header {
  $h: 80px;
  position: fixed;
  padding: 0 50px;
  width: 100%;
  overflow: hidden;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  top: 0; // 아래 메인내용들 추가되면서 사라지는 헤더를 top:0에 고정
  transition: all 0.5s ease;

  .logo {
    display: flex;
    height: 80px;
    align-items: center;
    &--img {
      height: 36px;
    }
  }
  .gnb {
    display: flex;

    &__list {
      display: flex;
      width: 100%;

      > li {
        > a {
          font-size: 19px;
          font-weight: 500;
          padding: 0 40px;
          height: 80px;
          display: flex;
          align-items: center;
          &:hover {
            color: red;
            transition: all 0.5s ease;
          }
        }
      }
      &--sub {
        padding-top: 25px;
        text-align: center;

        // height: 280px;
        // background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        li {
          padding: 5px 0;
        }
      }
    }
  }
  .language {
    display: flex;
    height: 80px;
    align-items: center;
    p {
      font-size: 12px;
      margin: 0 5px;
    }
    a {
      font-weight: 700;
    }
  }
  &.on {
    height: 380px;
    color: #111;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
